:root {
  --primary-color: #4c0bce;
  --secondary-color: #084298;
  --text-color: #fff;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
}

.title {
  color: var(--text-color);
}

main {
  padding: 20px 10px;
}

#search-field {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

.btn-city-search,
.btn-list {
  color: var(--text-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  margin: 1rem 0 0 0;
  width: 100%;
  text-align: center;
}

.search-history {
  margin-top: 0.8rem;
}

.city-weather-detail-container,
.city-weather-forcast {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 0.8rem;
}

.selected-city {
  display: inline-block;
}

.city-weather-detail-container li,
.weather-detail li {
  list-style-type: none;
  line-height: 2rem;
}

.weather-detail {
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: var(--text-color);
  background-color: var(--primary-color);
}

.forcast-date {
  font-weight: 700;
}

.btn-list {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
